body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbarTitle {
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
}
.btn-primary-scan {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff !important;
  background-color: #2c5f85 !important;
  border-color: #000000 !important;
  width: 80px;
  height: auto;
}
.btn-primary-scan img {
  padding-bottom: 2px;
  width: 22px;
  height: auto;
}
#buttonText {
  font-weight: bold;
}
#infoButton {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 0 px;
  background: #ffffff;
  color: rgb(38, 15, 15);
  border: none;
  font-size: 17px;
  cursor: pointer;
}
.info-content {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: pre-line;
  line-height: 0.1;
}
.info-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
  white-space: pre-line;
  line-height: 1;
}
body h6 {
  font-size: 12px;
}
footer {
  background-color: #343a40;
  color: #fff;
}
.center-text {
  text-align: center;
  color: #333;
  font-size: 24px;
}
p {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.openLinkCode {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
.sensor-name {
  text-align: center;
  margin-bottom: 5px;
}
.sensor-value {
  border: 3px solid #ccc;
  padding: 10px;
  resize: none;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  height: 85px;
}
.btn-primary-test{
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa nội dung trong nút */
  margin: 5px auto; /* Căn giữa nút theo chiều ngang */
  color: #ffffff !important;
  background-color: #1d78bd !important;
  border-color: #000000 !important;
  width: 100px;
  height: auto;
  margin-top: auto !important;
}
#change-image {
  width: 160px;
}
.monospace {
  font-family: 'Roboto Mono', monospace;
}

label {
  font-weight: bold;
  margin-bottom: 0px;
  font-family: 'Roboto Mono', monospace;
  padding-right: 4px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
.item {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.item.active {
  background-color: lightblue;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0px;
}
.form-group label {
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
  margin-bottom: 0px;
}
.form-group textarea {
  flex: 1;
  height: 30px;
  width: 90px;
  resize: none;
  text-align: center;
  font-size: 12px;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 0 3px;
}

.col_tem{
  padding-left: 10px;
  padding-right: 5px;
}

#SoilMoisture, #BME280, #MAX30102, #OLED, #HC-SR501{
  font-size: 12px;
}

.row{
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.row_WiFi{
  display: flex;
  align-items: left;
  margin-top: 3px;
}

#ssid, #password, #Local_Time, #Browser_Timezone, #UTC_Time{
  height: 20px;
  font-size: 10px;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 3px;
  text-align: left;
  margin-right: 10px;
  padding: 0 3px;
}

#BME_Tem, #BME_Hum, #BME_Pres, #BME_RelAlt, #MAX_beat, #MAX_bpm, #SoilMin, #SoilMax, #SoilRange{
  height: 20px;
  width: 70px;
  font-size: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  text-align: right;
  margin-right: 10px;
  resize: none;
  padding: 0 3px;
}

#MAX_beat, #MAX_bpm, #SoilMin, #SoilMax, #SoilRange{
  width: 40px;
}


.bme{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bme label{
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
  margin-bottom: 0px;
}

#Browser_Timezone{
  width: 40px;
}

#Local_Time, #UTC_Time{
  width: 125px !important;
  resize: none;
}

#ESP{
  overflow: auto;
  white-space: pre;
  text-align: left;
  height: 85px !important;
  font-size: 12px;
  resize: none;
}

#ESP-button{
  height: 46px;
  width: 75px;
  text-align: center;
  margin-bottom: 5px;
}

#HC-SR501-button, #OLED-button, #MAX30102-button{
  margin-top: 10px;
}

#squareHCSR501, #squareFinger{
  width: 100px;
  height: auto;
  margin: 5px auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  height: 35px;
  resize: none;
}

#progressSoil{
  width: 100%;
  height: 20px;
  margin-top: 5px;
}

#wifi-box{
  height: 30px;
  font-size: 12px;
  margin-top: 3px;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding-left: 10px;
}

#Block_WiFi{
  height: auto;
  margin-top: auto !important;
}

.utc{
  display: flex;
  align-items: center;
}

@media screen and (orientation: landscape) {
  .item {
      width: calc(33.33% - 20px);
      height: 42vh;
  }
}
@media screen and (orientation: portrait) {
  .item {
      width: calc(100% - 20px);
  }
  #navbarTitle {
      font-size: 12px;
  }
}
